<header>
    <a href="/" class="logo">
        <img src="img/logo_teapothouse.png" alt="logo">
    </a>
    <!-- ACA METO EL BOTONSITO DE LAS TRES BARRITAS PARA DESPLEGAR LA BARRA DE NAVEGACION EN PANTALLAS CHICAS-->
    <input type="checkbox" id="menu-bar">
    <label for="menu-bar" class="fa fa-bars"></label>
    <!--ESTA ES LA BARRA DE NAVEGACION-->
    <nav class="navbar">
        <a href="/nosotros">Sobre nosotros</a>
        <a href="/register">Registrate</a>
        <a href="/login"><i class="fa-solid fa-user"></i></a>
        <a href="/productCart"><i class="fa-solid fa-basket-shopping"></i></a>
    </nav>
</header>
