<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Proyecto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<link rel=" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400;1,500&family=Nunito:wght@300;400&family=Roboto:wght@100;300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/9bda9bfb9e.js" crossorigin="anonymous"></script>
    
</head>

<body>

    <!--HEADER FIXER-->
    <header>

        <nav class="navbar">
            <a class="primero" id="cotizacion" href="">Cotizacion personalizada</a>
            <a class="medio" id="nosotros" href="">Sobre Nosotros</a>
            <a class="medio" id="contacto" href="/contacto">Contacto</a>
            <a class="medio" id="ubi" href="">Ubicacion</a>
            <a class="medio" id="preguntas" href="">Preguntas frecuentes</a>
            <a class="medio" id="info" href="/info">Info</a>
            <a class="segundo" id="home" href="/home">Home</a>
            <a class="segundo" id="cuenta" href="/cuenta">Mi Cuenta</a>
            <a class="segundo" id="carrito" href="/carrito">carrito</a>
            <a id="search" href=""><i class="fa-solid fa-magnifying-glass"></i></a>
        </nav>


    </header>


    <section>
        <div class="logo">
            <img src="/img/logo_teapothouse.png" alt="logo">
        </div>
    </section>



    <section class="cat">

        <div class="buscar">
            <a class="busqueda" href="#categorias">
                Buscar categorias de productos
            </a>
        </div>

        <div id="contenedorcarrusel">

            <div class="itemcarrusel" id="item1">

                <div class="tarjetacarrusel" id="tarjeta1">
                    <img src="/img/torta1.jpg" alt="">
                </div>
                <div class="flechascarrusel">
                    <a href="#item3">
                        <i class="fa-solid fa-angle-left"></i></i>
                    </a>
                    <a href="#item2">
                        <i class="fa-solid fa-angle-right"></i></i>
                    </a>
                </div>

            </div>

            <div class="itemcarrusel" id="item2">

                <div class="tarjetacarrusel" id="tarjeta2">
                    <img src="/img/torta2.jpg" alt="">
                </div>
                <div class="flechascarrusel">
                    <a href="#item1">
                        <i class="fa-solid fa-angle-left"></i></i>
                    </a>
                    <a href="#item3">
                        <i class="fa-solid fa-angle-right"></i></i>
                    </a>
                </div>

            </div>

            <div class="itemcarrusel" id="item3">

                <div class="tarjetacarrusel" id="tarjeta3">
                    <img src="/img/torta3.jpg" alt="producto 3">
                </div>
                <div class="flechascarrusel">
                    <a href="#item2">
                        <i class="fa-solid fa-angle-left"></i></i>
                    </a>
                    <a href="#item1">
                        <i class="fa-solid fa-angle-right"></i></i>
                    </a>
                </div>

            </div>
        </div>

    </section>



    <section class="destacados">
        <div class="caja-contenedor">
            <h2 class="heading">Productos Destacados y Promociones!</h2>

        </div>

        <div class="carrusel2">
            <p>carrusel de promos</p>
        </div>

    </section>

    <div class="logo-footer">
        <img src="img/logo_teapothouse.png" alt="">
    </div>

    <footer>

        <div class="caja-contenedor">
            <div class="caja">
                <h3>Más informacion:</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt distinctio soluta unde minima
                    reiciendis
                    mollitia veniam inventore ipsam autem.</p>
            </div>

            <div class="caja">
                <h3>Buscanos en:</h3>
                <br>
                <a href="#"><i class="fab fa-facebook-square"></i> Facebook</a>
                <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
                <a href="#"><i class="fab fa-twitter"></i> Twitter</a>
            </div>

            <div class="caja">
                <h3>Contacto:</h3>

                <div class="info">
                    <i class="fas fa-phone"></i>
                    <p>326264628260</p>
                </div>

                <div class="info">
                    <i class="fas fa-envelope-open-text"></i>
                    <p>teapothouse@gmail.com</p>
                </div>

                <div class="info">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>

            </div>

            <h1 class="creditos">
                &copy copyright @2022 Proyencto DigitalHouse.
            </h1>

        </div>
    </footer>



</body>

</html>