<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Proyecto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/9bda9bfb9e.js" crossorigin="anonymous"></script>

</head>

<body>
    <header>

        <nav class="navbar">
            <a class="primero" id="cotizacion" href="/"><img src="/img/logo_teapothouse.png" alt="logo"></a>
            <div class="burger-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="navbar-item">
                <a class="medio" id="nosotros" href="">Sobre Nosotros</a>
                <a class="medio" id="nosotros" href="/register">Registrate</a>
                <a class="primero" id="cuenta" href="/login"><i class="fa-solid fa-user"></i></a>
                <a class="segundo" id="carrito" href="/productCart"><i class="fa-solid fa-basket-shopping"></i></a>
            </div>
        </nav>
    </header>

    <section class="cat">
         <div id="contenedorcarrusel">

            <div class="itemcarrusel" id="item1">

                <div class="tarjetacarrusel" id="tarjeta1">
                    <img src="/img/torta4.jpg" alt="">
                </div>
                <div class="flechascarrusel">
                    <a href="#item3">
                        <i class="fa-solid fa-angle-left"></i></i>
                    </a>
                    <a href="#item2">
                        <i class="fa-solid fa-angle-right"></i></i>
                    </a>
                </div>

            </div>

            <div class="itemcarrusel" id="item2">

                <div class="tarjetacarrusel" id="tarjeta2">
                    <img src="/img/torta2.jpg" alt="">
                </div>
                <div class="flechascarrusel">
                    <a href="#item1">
                        <i class="fa-solid fa-angle-left"></i></i>
                    </a>
                    <a href="#item3">
                        <i class="fa-solid fa-angle-right"></i></i>
                    </a>
                </div>

            </div>

            <div class="itemcarrusel" id="item3">

                <div class="tarjetacarrusel" id="tarjeta3">
                    <img src="/img/torta3.jpg" alt="producto 3">
                </div>
                <div class="flechascarrusel">
                    <a href="#item2">
                        <i class="fa-solid fa-angle-left"></i></i>
                    </a>
                    <a href="#item1">
                        <i class="fa-solid fa-angle-right"></i></i>
                    </a>
                </div>

            </div>
        </div>

    </section>



    <section class="destacados">
        <div class="caja-contenedor">
            <h2 class="heading">Productos Destacados y Promociones!</h2>

        </div>

        <div class="carrusel2">
            <p>carrusel de promos</p>
        </div>

    </section>

    <footer>
        <div class="creditos">
            <p> &copy copyright @2022 Proyecto DigitalHouse.</p>
            <p>
                Teapot House
            </p>
        </div>
        <div class="logo-footer">
            <img src="img/logo_teapothouse.png" alt="logo de la marca">
        </div>
        <div class="caja">
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
            <a class="medio" id="nosotros" href="#">Contacto</a>
        </div>
        </div>
    </footer>
</body>

</html>












