<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Proyecto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    
    <script src="https://kit.fontawesome.com/9bda9bfb9e.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <a href="/" class="logo">
            <img src="img/logo_teapothouse.png" alt="logo"></a>

        <!-- ACA METO EL BOTONSITO DE LAS TRES BARRITAS PARA DESPLEGAR LA BARRA DE NAVEGACION EN PANTALLAS CHICAS-->
        <input type="checkbox" id="menu-bar">
        <label for="menu-bar" class="fa fa-bars"></label>

        <!--ESTA ES LA BARRA DE NAVEGACION-->
        <nav class="navbar">
            <a href="/nosotros">Sobre nosotros</a>
            <a href="/register">Registrate</a>
            <a href="/login"><i class="fa-solid fa-user"></i></a>
            <a href="/productCart"><i class="fa-solid fa-basket-shopping"></i></a>
        </nav>
    </header>
        <section class="recomendados">
        <h1 class="carrousel-title">¡Bienvenidos a Teapot House!</h1>
        <div class="carrousel">
            <div class="flecha">
                <i class="fa-solid fa-arrow-left"></i>
            </div>
            <div class="fotos-carrousel">
                <img src="/img/cake.jpg" alt="">
            </div>
            <div class="flecha">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
        </div>
    </section>
    <section class="listado-productos">
        <p class="titulo-feo">Nuestos Productos</p>
        <div class="caja-contenedor">
            <p>Nuestos Productos</p>
            <div class="caja">
                <div class="nombre">
                    <h2>Tortas</h2>
                </div>
                <img src="/img/torta3.jpg" alt="">
            </div>
            <div class="caja">
                <div class="nombre">
                    <h2>Alfajores</h2>
                </div>
                <img src="/img/alfajores.jpg" alt="">
            </div>
            <div class="caja">
                <div class="nombre">
                    <h2>Chocolates</h2>
                </div>
                <img src="/img/chocolate.jpg" alt="">
            </div>
        </div>
    </section>
    <section class="personalizar">
        <div class="texto">
            <h3>Personalizá tu pedido</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed iste at reprehenderit ab animi ratione, nisi recusandae autem fuga. Tempora quia quo obcaecati ab et amet officia eos neque laudantium.</p>
        </div>
        <div class="imagen">
            <img src="/img/macarons.jpg" alt="macarons">
        </div>
    </section>
    <section class="personalizar2">
        <div class="texto">
            <h3>Pedidos especiales para eventos</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed iste at reprehenderit ab animi ratione, nisi recusandae autem fuga. Tempora quia quo obcaecati ab et amet officia eos neque laudantium.</p>
        </div>
        <div class="imagen">
            <img src="/img/cake.jpg" alt="macarons">
        </div>
    </section>
    <footer>

        <div class="logo-footer">
            <img src="img/logo_teapothouse.png" alt="logo de la marca">
        </div>

        <div class="contenedor-footer">
            <div class="creditos">
                <h3>&copy copyright @2022 Proyecto DigitalHouse.</h3>
                <h3>Teapot House</h3>
            </div>

            <div class="caja-contacto">

                <div class="cajita-contacto">
                    <div class="cajita">
                        <h4>Contacto</h4>
                    </div>

                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>












