<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Pasteleria</title>
  </head>
  <body>
    <section>
      <form action="" class="form">
        <p class="form__p--obligatory-field marginbtm">* Campos obligatorios</p>
        <img
          src="img/logo_teapothouse.png"
          alt="logo Teapot house"
          width="142"
          height="50"
          class="marginbtm"
        />
        <h2 class="form__h2 marginbtm">ACCESO</h2>
        <div class="form__div">
          <label for="email" class="marginbtm">* Su email</label>
          <input
            type="email"
            name="email"
            placeholder="example@gmail.com"
            class="input marginbtm"
            id="email"
            required
          />
        </div>
        <div class="form__div">
          <label for="password" class="marginbtm">* Su contraseña</label>
          <input
            type="password"
            name="password"
            placeholder="Su contraseña"
            class="input marginbtm"
            id="password"
            required
          />
        </div>
        <a href="#" class="forgotPassword marginbtm">Olvido su contraseña?</a>
        <div class="form__div--stay-connected marginbtm">
          <label>
            <input type="checkbox" id="stayConnected" value="stayConnected" />
            Permanecer conectado
          </label>
        </div>
        <button class="button marginbtm">INICIAR SESIÓN</button>
        <p class="marginbtm">NO TIENES CUENTA AÚN?</p>
        <button class="button button--register marginbtm">
          <a href="/register" class="a--style-none">REGISTRATE</a>
        </button>
      </form>
    </section>
  </body>
</html>
