<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/productDetail.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Detalle de producto</title>
</head>
<body>
    <header>

        <nav class="navbar">

            <a class="primero" id="cotizacion" href="/"><img src="/img/logo_teapothouse.png" alt="logo"></a>
            <div class="burger-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="navbar-item">
                <a class="medio" id="nosotros" href="">Sobre Nosotros</a>
                <a class="medio" id="nosotros" href="/register">Registrate</a>
                <a class="primero" id="cuenta" href="/login"><i class="fa-solid fa-user"></i></a>
                <a class="segundo" id="carrito" href="/productCart"><i class="fa-solid fa-basket-shopping"></i></a>
            </div>
        </nav>

    </header>
    <section class="enunciado">
        <div class="vuelta-home">
            <button class="volver"><a href="/">Volver a ver otros productos</a></button>
        </div>
    </section>
    <section class="primer-bloque">
        <img src="/img/macarons.jpg" alt="producto">
        <section class="datos-productos">
            <div class="titulos">
                <p>Nombre del producto</p>
            </div>
            <div class="informacion">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, tempora. Ullam laborum corporis similique unde cumque, labore deleniti voluptatum amet architecto asperiores optio ut, provident mollitia excepturi quod inventore. Ipsam?</p>
            </div>
            <div class="precio">
                <span> $1000 </span>
            </div>
            <div class="carrito">
                <div class="compras">
                    <button class="emogi"><i class="fa-solid fa-minus"></i></button>
                    <input class="numero" type="number">
                    <button class="emogi"><i class="fa-solid fa-plus"></i></button>
                    <button><i class="fa-solid fa-person-carry-box"></i></button>
                </div>
                <a class="añadir" href="/productCart">Añadir al carrito</a>
            </div>
            <div class="links">
                <a class="link" href="#">Customizar pedido</a>
            </div>
        </section>
    </section>
    <section class="segundo-bloque">
        <div class="datos-productos">
            <div class="titulos">
                <p>Descripción del producto</p>
            </div>
            <div class="informacion">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos sed quaerat placeat beatae iste exercitationem delectus illum cumque sit nemo unde obcaecati libero rerum eaque voluptates consequatur modi, vero mollitia.</p>
            </div>
            <div class="titulos">
                <p>Consejos</p>
            </div>
            <div class="informacion">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos sed quaerat placeat beatae iste exercitationem delectus illum cumque sit nemo unde obcaecati libero rerum eaque voluptates consequatur modi, vero mollitia.</p>
            </div>
        </div>
        <img src="/img/macarons2.jpg" alt="otra foto del producto">
    </section>
    <section class="tercer-bloque">
        <div class="datos-productos">
            <div class="titulos">
                <p>Entrega</p>
            </div>
            <div class="informacion">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos sed quaerat placeat beatae iste exercitationem delectus illum cumque sit nemo unde obcaecati libero rerum eaque voluptates consequatur modi, vero mollitia.</p>
            </div>
            <div class="titulos">
                <p>Reclamos</p>
            </div>
            <div class="informacion" >
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos sed quaerat placeat beatae iste exercitationem delectus illum cumque sit nemo unde obcaecati libero rerum eaque voluptates consequatur modi, vero mollitia.</p>
            </div>
        </div>
        <img src="/img/macarons3.jpg" alt="otra foto del producto">
        </section>
        <section>
        <h2>También te gustará</h2>
        <div class="carrousel">
            <div class="flecha">
                <i class="fal fa-arrow-alt-left"></i>
            </div>
            <div class="fotos-carrousel">
                <img src="" alt="">
                <img class="mid" src="" alt="">
                <img src="" alt="">
            </div>
            <div class="flecha">
                <i class="fal fa-arrow-alt-right"></i>
            </div>
        </div>
    </section>

    <footer>
        <div class="creditos">
            <p> &copy copyright @2022 Proyecto DigitalHouse.</p>
            <p>
                Teapot House
            </p>
        </div>
        <div class="logo-footer">
            <img src="img/logo_teapothouse.png" alt="logo de la marca">
        </div>
        <div class="caja">
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
            <a class="medio" id="nosotros" href="#">Contacto</a>
        </div>
        </div>
    </footer>
</body>
</html>