<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Mi carrito</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="/css/style.css"> -->
        <link rel="stylesheet" href="/css/productCart.css">
        <script src="https://kit.fontawesome.com/9bda9bfb9e.js" crossorigin="anonymous"></script>
    </head>
       
        
        
<body>
    <main>
        
        <!-- <div class="titulo">
        <h2>Carrito de compras</h2>
        <i class="fa-solid fa-cart-shopping"></i>
        </div> -->
        <section class="carrito">
            <div class="top-carrito">
                <h3>Producto</h3>
                <h3 class="top-carrito-ocultos">Precio</h3>
                <h3>Cantidad</h3>
                <h3 class="top-carrito-ocultos">Subtotal</h3>
            </div>
            <div class="main-carrito">
                <article class="articulo-carrito">
                    <div class="caja-1"><img src="/img/torta1.jpg" alt="tortaConFrutilla">
                    </div>
                    <div class="caja-2">
                        <p>Descripcion del producto</p>
                    <div class="caja-2-cantidad_precio">
                        <p class="caja-2-ocultos">1x</p>
                        <p class="caja-2-ocultos" id="precio-negrita">$1500</p>
                    </div>
                    </div>
                    <div class="caja-3-ocultos">
                        <p>$1500</p>
                    </div>
                    <div class="caja-4">
                        <p>+ 1 -</p>
                    </div>
                    <div class="caja-5-ocultos">
                        <p>$3000</p>
                    </div>
                    <div class="caja-6">
                        <button>X</button>
                    </div>
                    
                </article>              
            </div>
            <div class="bottom-carrito">
                <button id="seguir-comprando">  ←Seguir comprando  </button>
                <button id="actualizar-carrito">  Actualizar carrito  </button>
            </div>
        </section>
        <section class="total">
        
        
        
            <div class="top-total">
                <h3>Total del carrito</h3>
            </div>
            <div class="main-total">
                <div>
                    <p>Subtotal</p>
                </div>
                <div>
                    <p>$1500</p>
                </div>
                <div>
                    <p>Envio</p>
                </div>
                <div class="form-envio">
                    <p>Introduce tu direccion para calcular el costo de envío.</p>
                    <button>Calcular envío</button>
                    <form action="..." method="...">
                        <select name="localidad" id="localidad">
                            <option value="caba">CABA</option>
                            <option value="zona-norte">Zona Norte</option>
                            <option value="zona-sur">Zona Sur</option>
                            <option value="zona-oeste">Zona Oeste</option>
                        </select>
                        <input type="number" name="codigo-postal" placeholder="Código postal">
                        <button type="reset">ACTUALIZAR</button>
                    </form>
                </div>
                <div>
                    <p>Total</p>
                </div>
                <div>
                    <p>$3000</p>
                </div>
            </div>
            <div class="bottom-total">
                <button type="submit">FINALIZAR COMPRA</button>
            </div>
        </section>
               
                    
        <section class="recomendados">
            <h2>Quizá te interese también</h2>
            <article class="articulo-recomendados">
                <div class="img-recomendados"></div>
                <p>Descripción</p>
                <p>$500</p>
                <button>COMPRAR</button>
            </article>
            <article class="articulo-recomendados">
                <div class="img-recomendados"></div>
                <p>Descripción</p>
                <p>$500</p>
                <button>COMPRAR</button>
            </article>
            <article class="articulo-recomendados">
                <div class="img-recomendados"></div>
                <p>Descripción</p>
                <p>$500</p>
                <button>COMPRAR</button>
            </article>
            <article class="articulo-recomendados">
                <div class="img-recomendados"></div>
                <p>Descripción</p>
                <p>$500</p>
                <button>COMPRAR</button>
            </article>
            
        </section>
       
       
       
       
       
       
       
       
    </main>
        
        
        
        
        
        


    <!-- <footer>

        <div class="caja-contenedor">
            <div class="caja">
                <h3>Más informacion:</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt distinctio soluta unde minima
                    reiciendis
                    mollitia veniam inventore ipsam autem.</p>
            </div>

            <div class="caja">
                <h3>Buscanos en:</h3>
                <br>
                <a href="#"><i class="fab fa-facebook-square"></i> Facebook</a>
                <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
                <a href="#"><i class="fab fa-twitter"></i> Twitter</a>
            </div>

            <div class="caja">
                <h3>Contacto:</h3>

                <div class="info">
                    <i class="fas fa-phone"></i>
                    <p>326264628260</p>
                </div>

                <div class="info">
                    <i class="fas fa-envelope-open-text"></i>
                    <p>teapothouse@gmail.com</p>
                </div>

                <div class="info">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>

            </div>

            <h1 class="creditos">
                &copy copyright @2022 Proyencto DigitalHouse.
            </h1>

        </div>
    </footer> -->

</body>
</html>