<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Mi carrito</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/productCart.css">
        <script src="https://kit.fontawesome.com/9bda9bfb9e.js" crossorigin="anonymous"></script>
    </head>
       
    <header>
        <a href="/" class="logo">
            <img src="img/logo_teapothouse.png" alt="logo"></a>

        <!-- ACA METO EL BOTONSITO DE LAS TRES BARRITAS PARA DESPLEGAR LA BARRA DE NAVEGACION EN PANTALLAS CHICAS-->
        <input type="checkbox" id="menu-bar">
        <label for="menu-bar" class="fa fa-bars"></label>

        <!--ESTA ES LA BARRA DE NAVEGACION-->
        <nav class="navbar">
            <a href="/nosotros">Sobre nosotros</a>
            <a href="/register">Registrate</a>
            <a href="/login"><i class="fa-solid fa-user"></i></a>
            <a href="/productCart"><i class="fa-solid fa-basket-shopping"></i></a>
        </nav>
    </header>       
        
<body>
    <main>
        
        <section class="carrito">
            <h2>Carrito de compras</h2>
            <div class="interior-carrito">
                <div class="col-1">
                    <h3>Producto</h3>
                    <img src="/img/macarons.jpg" alt="producto">
                </div>
                <div class="col-2">
                    <h3>Precio</h3>
                    <p>$1500</p>
                </div>
                <div class="col-3">
                    <h3>Cantidad</h3>
                    <div class="compras">                         
                                <button class="emogi"><i class="fa-solid fa-minus"></i></button>
                                <input class="numero" type="number">
                                <button class="emogi"><i class="fa-solid fa-plus"></i></button>                         
                    </div>
                </div>
                <div class="col-4">
                    <h3>Subtotal</h3>
                    <p>$3000</p>
                </div>
            </div>
            <div class="bottom-carrito">
                <button id="seguir-comprando">←Seguir comprando</button>
                <button id="actualizar-carrito">Actualizar carrito</button>
            </div>
        </section>


        
















        <section class="total">
            <div class="top-total">
                <h2>Total del carrito</h2>
            </div>
            <div class="main-total">
                <div class="caja-1">
                    <p>Subtotal</p>
                    <p>$1500</p>
                </div>
                <div class="caja-2">
                    <div>
                        <p>Envio</p>
                    </div>
                    <div class="form-envio">
                        <p>Introduce tu direccion para calcular el costo de envío.</p>
                        <button class="calcular-envio">Calcular envío</button>
                        <form action="#" method="#" class="form-envio-oculto">
                            <select name="localidad" id="localidad">
                                <option value="caba">CABA</option>
                                <option value="zona-norte">Zona Norte</option>
                                <option value="zona-sur">Zona Sur</option>
                                <option value="zona-oeste">Zona Oeste</option>
                            </select>
                            <input type="number" name="codigo-postal" placeholder="Código postal">
                            <button type="reset">ACTUALIZAR</button>
                        </form>
                    </div>
                </div>
                <div class="caja-3">
                    <p>Total</p>
                    <p>$3000</p>
                </div>
            </div>
            <div class="bottom-total">
                <button type="submit">FINALIZAR COMPRA</button>
            </div>
        </section>
                
                
                
        
        
        
               
                    
        <section class="recomendados">
            <div class="top-recomendados">
                <h2>Quizá te interese también</h2>
            </div>
            <div class="main-recomendados">
                <article class="articulo-recomendados">
                    <div class="caja-1">
                        <img src="/img/macarons2.jpg" alt="otra foto del producto">
                    </div>
                    <div class="caja-2">
                        <p>Descripción</p>
                    </div>
                    <div class="caja-3">
                        <p>$500</p>
                    </div>
                    <div class="caja-4">
                        <button>COMPRAR</button>
                    </div>
                </article>
                <article class="articulo-recomendados">
                    <div class="caja-1">
                        <img src="/img/macarons3.jpg" alt="otra foto del producto">
                    </div>
                    <div class="caja-2">
                        <p>Descripción</p>
                    </div>
                    <div class="caja-3">
                        <p>$500</p>
                    </div>
                    <div class="caja-4">
                        <button>COMPRAR</button>
                    </div>
                </article>
                <article class="articulo-recomendados">
                    <div class="caja-1">
                        <img src="/img/torta3.jpg" alt="imagen-torta-3">
                    </div>
                    <div class="caja-2">
                        <p>Descripción</p>
                    </div>
                    <div class="caja-3">
                        <p>$500</p>
                    </div>
                    <div class="caja-4">
                        <button>COMPRAR</button>
                    </div>
                </article>
                <article class="articulo-recomendados">
                    <div class="caja-1">
                        <img src="/img/torta4.jpg" alt="imagen-torta-4">
                    </div>
                    <div class="caja-2">
                        <p>Descripción</p>
                    </div>
                    <div class="caja-3">
                        <p>$500</p>
                    </div>
                    <div class="caja-4">
                        <button>COMPRAR</button>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>

        <div class="logo-footer">
            <img src="img/logo_teapothouse.png" alt="logo de la marca">
        </div>

        <div class="contenedor-footer">
            <div class="creditos">
                <h3>&copy copyright @2022 Proyecto DigitalHouse.</h3>
                <h3>Teapot House</h3>
            </div>

            <div class="caja-contacto">

                <div class="cajita-contacto">
                    <div class="cajita">
                        <h4>Contacto</h4>
                    </div>

                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
            
       
       
       
       
       
       
       
       
    
        
        
        
        
        
        


