<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head')%>

<body>
    <%- include('./partials/header'); %> 

    <!--ACA ESTAN LAS SECCIONES-->

    <main>
    
        <form action="">
            <img src="img/logo_teapothouse.png" alt="logo Teapot house" width="142" height="100" class="tphouse-logo marginbtm" />
            <h3>REGISTRATE.</h3>
            <div class="inputcaja">
                <label for="nombre">Nombre y Apellido</label>
                <input name="nombre" type="text" placeholder="Ej: Teapot House" required>
            </div>
            <div class="inputcaja">
                <label for="usuario">Nombre de Usuario</label>
                <input name="usuario" type="text" placeholder="Ej: TeapotH" required>
            </div>
            <div class="inputcaja">
                <label for="mail">Email</label>
                <input name="mail" type="email" placeholder="Ej: teapothouse@gmail.com" required>
            </div>
            <div class="inputcaja">
                <label for="fecha">Fecha de nacimiento</label>
                <input name="fecha" type="date" placeholder="Fecha de naciemiento" required>
            </div>
            <div class="inputcaja">
                <label for="Domicilio">Domicilio</label>
                <input name="Domicilio" type="text" placeholder="Ubicacion" required>
            </div>
            <div class="inputcaja">
                <label for="numero">Numero de telefono</label>
                <input name="numero" type="tel" placeholder="Ej: 3434565879" required>
            </div>
            <div class="inputcaja">
                <label for="password">Contraseña?</label>
                <input name="password" type="password" placeholder="********" required>
            </div>
            <div class="inputcaja">
                <label for="password2">Repita su contraseña</label>
                <input name="password2" type="password" placeholder="********" required>
            </div>
            <br>
    
            <button class="btn">ENVIAR</button>
            <br>
            <button class="btn">
                BORRAR
            </button>
        </form>
    </main>


    <!--EL PIE DE PAGINA-->

    <%- include('./partials/footer'); %> 


</body>

</html>



































