
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
    --Celeste: #6adbd8;
    --Celeste-oscuro: #1cc2bc;
    --Gris-oscuro: #666666;
    --Gris-claro: #ebebeb;
    --roboto: "Roboto", sans-serif;
    --poppins: "Poppins", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: var(--poppins);
}

main{
    margin: 5%;
}

.titulo{
    width: 80%;
    margin: 20%;
}

/* SECTION CARRITO  */
.carrito{
    width: 95%;
    margin:5%;
}
.top-carrito-oculto{
    display: none;
}
.top-carrito{
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid burlywood;
    padding: 10px;
}
.main-carrito article{
    display: flex;
    border-bottom: 1px solid burlywood;
    
}
.caja-3-oculto,
.caja-5-oculto{
    display: none;
}
.caja-1{
    width: 40%;
    padding: 15px 6.5px;
}
.caja-1 img{
    width: 100px;
    height: 100px;
    
  }

.caja-2{
    width: 40%;
    padding: 15px 6.5px;
}
.caja-4{
    text-align: center;
    width: 15%;
    padding: 15px 6.5px;
}
.caja-6{
    width: 10%;
    align-self: flex-start;
}
.bottom-carrito{
    display: flex;
    flex-wrap: wrap;
}


/* IMAGEN ARTICLE  */


/* SECTION TOTAL */


/* SECTION RECOMENDADOS  */



/* MEDIAQUERYS */

@media(min-width: 769px){
    .top-carrito-oculto{
        display: block;
    }
}