

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* SECTION CARRITO  */
section.carrito{
    margin: 40px 10px;
}
section.carrito h2{
    text-align: center;
}
/* TOP-CARRITO  */
div.top-carrito {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid burlywood;
  padding: 10px;
}

h3.top-carrito-ocultos {
  display: none;
}

/* MAIN-CARRITO  */

/* ARTICLE  */
article.articulo-carrito {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid burlywood;
  font-size: 13px;
}
article.articulo-carrito div.caja-1 {
  padding: 15px 6.5px;
}
article.articulo-carrito div.caja-1 img {
  width: 100px;
  height: 100px;
}
article.articulo-carrito div.caja-2 {
  padding: 15px 6.5px;
}
article.articulo-carrito div.caja-2 p {
    padding: 2px;
}
p#precio-negrita{
    font-weight: bold;
}
article.articulo-carrito div.caja-2-cantidad_precio{
    display: flex;
}
article.articulo-carrito div.caja-3-ocultos,
article.articulo-carrito div.caja-5-ocultos {
  display: none;
}
article.articulo-carrito div.caja-4 {
  text-align: center;
  padding: 15px 6.5px;
}
article.articulo-carrito div.caja-4 input.numero{
    width: 10px;
}
article.articulo-carrito div.caja-4 button.emogi{
    border-style: none;
}
article.articulo-carrito div.caja-4 button.emogi i {
    background-color: #fff;
    
}
article.articulo-carrito div.caja-6{
    order: -1;
    align-self: baseline;
}
article.articulo-carrito div.caja-6 button{
    border-style: none;
    background-color: #fff;
    font-size: 15px;
    padding: 5px;
}

/* BOTTOM-CARRITO  */
div.bottom-carrito {
  padding: 10px 10px 10px;
  display: flex;
}
div.bottom-carrito button{
    display: block;
    padding: 10px 10px;
    color:#fff;
    background-color: #25d1b2;
    border-style: none;
    border-radius: 15px;
    margin: 5px 5px;
}
div.bottom-carrito #seguir-comprando{
    background-color: #fff;
    color: #25d1b2;
    border: 1px solid #25d1b2;
    /* margin-bottom: 10px; */
}


/* SECTION TOTAL */
section.total{
    margin: 40px 10px;
}
/* TOP TOTAL  */
section.total div.top-total{
  text-align: left;
  border-bottom: 3px solid burlywood;
  padding: 10px;
}
/* MAIN TOTAL */
section.total div.main-total{
  border-bottom: 3px solid burlywood;
}
section.total div.main-total div.caja-1{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid burlywood;
}
section.total div.main-total div.caja-2{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid burlywood;
}
section.total div.main-total div.form-envio{
  text-align: end;
}
section.total div.main-total div.caja-3{
  display: flex;
  justify-content: space-between;
}
section.total form.form-envio-oculto{
  display: none;
}
/* BOTTOM TOTAL */
section.total div.bottom-total{
  text-align: center;
  padding: 10px 10px 10px;
}
section.total div.bottom-total button{
    padding: 10px 10px;
    color:#fff;
    background-color: #25d1b2;
    border-style: none;
    border-radius: 15px;
    margin: 5px 5px;
}

/* SECTION RECOMENDADOS  */
section.recomendados{
    margin: 40px 0;
}
/* TOP RECOMENDADOS */
section.recomendados div.top-recomendados{
    padding: 10px;
    text-align: center;   
}
/* MAIN RECOMENDADOS */
section.recomendados div.main-recomendados{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
section.recomendados article{
    padding:10px;
    margin: auto;  
    width: 45%;   
}
section.recomendados article div.caja-1 img{
    width: 100%;    
   height: 100px;       /*BORRAR!! */
}
section.recomendados article div.caja-2 p{
    margin: 10px 0;
}
section.recomendados article div.caja-3 p{
    margin-bottom: 10px;
    color: gray;
}
section.recomendados article div.caja-4 button{
padding: 10px 10px;
color:#fff;
background-color: #25d1b2;
border-style: none;
border-radius: 15px;
margin: 5px 5px;
}

/* MEDIAQUERYS */
@media (min-width: 548px) {
  h3.top-carrito-ocultos {
    display: flex;
  }
}
