/* ocultos: .top-carrito-oculto, .caja-2-oculto, .caja-3-oculto, .caja-4-oculto */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* main{
    
} */

/* .titulo{
display: flex;
align-items: center;
justify-content: center;
    width: 80%;
    margin: 20%;
} */

/* SECTION CARRITO  */

/* section.carrito{
    width: 95%;
    margin:5%;
} */
/* TOP-CARRITO  */
div.top-carrito {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid burlywood;
  padding: 10px;
}

h3.top-carrito-ocultos {
  display: none;
}
/* MAIN-CARRITO  */
/* div.main-carrito{
    
} */
/* ARTICLE  */
article.articulo-carrito {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid burlywood;
  font-size: 13px;
}
div.caja-1 {
  padding: 15px 6.5px;
}
div.caja-1 img {
  width: 100px;
  height: 100px;
}
div.caja-2 {
  padding: 15px 6.5px;
}
div.caja-2 p {
    padding: 2px;
}
p#precio-negrita{
    font-weight: bold;
}
div.caja-2-cantidad_precio{
    display: flex;
}
div.caja-3-ocultos,
div.caja-5-ocultos {
  display: none;
}
div.caja-4 {
  text-align: center;
  padding: 15px 6.5px;
}
/* BOTTOM-CARRITO  */
div.bottom-carrito {
  padding: 10px 10px 10px;
}
div.bottom-carrito button{
    display: block;
    padding: 10px 10px;
    color:#fff;
    background-color: pink;
    border-style: none;
    border-radius: 15px;
    margin: 5px 5px;
}
div.bottom-carrito #seguir-comprando{
    background-color: #fff;
    color: pink;
    border: 1px solid pink;
    margin-bottom: 10px;
}


/* SECTION TOTAL */

/* SECTION RECOMENDADOS  */

/* MEDIAQUERYS */
@media (min-width: 548px) {
  h3.top-carrito-ocultos {
    display: flex;
  }
}
