@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400;1,500&family=Nunito:wght@300;400&family=Roboto:wght@100;300&display=swap");

:root{
    --verde: #0c443a;
    --celeste: #25d1b2;
    --degradado: linear-gradient(90deg, var(--celeste), var(--verde));
    --Gris-oscuro: #666666;
    --Gris-claro: #ebebeb;
}

/* COLOR TRELLO */
/* #00c2e0; */


* {
  font-family: 'EB Garamond', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

html {
  font-size: 62.4%;
  overflow-x: hidden;
  background-color: rgb(240, 240, 240);
}

body {
  padding-top: 100px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #6adbd8;
  padding: 0.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  z-index: 1000;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center
}
.navbar-item {
  display: flex;
  display: none;
}
header .navbar a {
  color: black;
  display: inline-block;
  margin-left: 2rem;
  transition: all 0.2s linear;
  padding-right: 1rem;
  vertical-align: middle;
}

header .navbar a img {
  height: 71px;
}

.navbar i {
  color: black;
  font-size: 20px;
}

header .navbar a:hover,
#home:hover,
i:hover {
  color: gray;
  transform: scale(1.1);
  border: none;
  transition: all 0.2s linear;
}

.primero
 {
  font-size: 2.5rem;
}
.segundo{
  font-size: 2.5rem;
}
.medio {
  font-size: 2rem;
}

#home {
  border-left: solid 0.2rem rgba(99, 79, 79, 0.493);
  padding-left: 1rem;
}

/* BODY*/
.logo {
  font-size: 2rem;
  margin-top: 7rem;
  display: flex;
  width: 100%;
  padding: 1rem;
  padding-top: 2rem;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 20vw;
  height: 10vw;
}

body {
  /* background: linear-gradient(rgba(238, 232, 208, 0.699), rgba(238, 200, 236, 0.781)); */
  opacity: 3;
}


.loguito {
  top: 0;
  left: 0;
  min-height: 50vh;
  position: fixed;
}

.cat {
  margin-top: 18%;
  margin-top: 2rem;
}

#contenedorcarrusel {
  text-align: center;
  height: 300px;
  overflow: hidden;
}

.itemcarrusel {
  height: 100%;
  position: relative;
}

.tarjetacarrusel {
  height: 100%;
}

.flechascarrusel {
  height: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10rem;
}

i {
  color: black;
  font-size: 6rem;
}

.tarjetacarrusel img {
  width: 70%;
  height: 100%;
  margin-left: auto;
  margin-top: auto;
  border: solid 0.5rem whitesmoke;
}

.buscar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  transition: all 0.2s linear;
}
.buscar:hover {
  transform: scale(1.1);
  transition: all 0.2s linear;
}

.busqueda {
  align-content: center;
  padding: 1rem;
  margin: auto;
  color: black;
  font-size: 3rem;
  background: rgb(204, 186, 186);
  z-index: 900;
  border: solid 0.1rem black;
}
.busqueda:hover {
  color: gray;
  border: solid 0.1rem gray;
  background: rgb(214, 199, 181);
  transition: all 0.2s linear;
}

.destacados {
  display: block;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.destacados h2 {
  font-size: 3rem;
  margin-top: 3rem;
  align-content: center;
  margin: auto;
  flex: 1 1 30rem;
}

.caja-contenedor {
  flex: 1 1 30rem;
  padding: 3rem 2rem;
  text-align: center;
  transition: 0.2s linear;
  margin-top: 38px;
}

.carrusel2 {
  flex: 1 1 30rem;
  height: 35rem;
  background: white;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin: 1.5rem;
  padding: 3rem 2rem;
  text-align: center;
  transition: 0.2s linear;
}

.carrusel2 p {
  font-size: 4rem;
}

.logo-footer {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.logo-footer img {
  width: 14rem;
}

footer {
  background-color: #d1eefc;
  display: flex;
  justify-content: center;
}
footer .caja {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px;
}

footer .caja h3 {
  font-size: 2rem;
  padding: 1rem 0;
  color: rgb(39, 36, 36);
  text-decoration: underline;
  margin: 0 3rem;
  text-underline-offset: 1rem;
}

footer .caja p {
  display: flex;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  color: rgb(39, 36, 36);
}

footer .caja-contenedor .caja a {
  display: block;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  color: rgb(39, 36, 36);
  text-decoration: none;
  margin: 0 7px;
}

footer .caja-contenedor .caja a i {
  color: rgb(39, 36, 36);
  font-size: 2rem;
  vertical-align: middle;
}

footer .caja a:hover {
  text-decoration: underline;
}

footer .caja .info {
  display: flex;
  align-items: center;
}

footer .caja-contenedor .caja .info i {
  border-radius: 50%;
  color: rgb(39, 36, 36);
  font-size: 2rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
}

footer .creditos {
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
  color: rgb(39, 36, 36);
  border-top: 0.1rem solid rgb(39, 36, 36);
  padding: 2.5rem;
  text-align: center;
}
@media(min-width: 767px){
  .navbar-item{
    display: flex;
    justify-content: space-around;
  }
}