@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
    --color1: #1cc2bc;
    --color2: #6adbd8;
    --poppins: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--poppins);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
}

.form {
    background-color: #fff;
    border: 1px solid var(--color2);
    border-radius: 50px;
    width: 320px;
    padding: 5px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*Para mejor vista/centrar hasta que lo pasemos a modal */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.input {
    width: 300px;
    height: 50px;
    padding: 1em;
    border: 1px solid var(--color2);
}

form p,
a,
label {
    font-size: 15px;
}

form h2 {
    font-size: 24px;
}

.form__div {
    display: flex;
    flex-direction: column;
}

/* form__div--forgot-password */
.forgotPassword {
    align-self: flex-end;
}

.form__div--stay-connected {
    align-self: flex-start;
}

.button {
    width: 250px;
    height: 50px;
    letter-spacing: 0.08em;
    background-color: var(--color2);
}

.a--style-none {
    text-decoration: none;
}
main {
    width: 100%;
}

.marginbtm {
    margin-bottom: 12px;
}
.brd-radius {
    border-radius: 99px;
}

.footer {
    width: 100%;
    margin: auto auto 0 auto;
}

.tphouse-logo {
    height: auto;
    max-width: 100%;
}
