@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --roboto: "Roboto", sans-serif;
  --poppins: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--poppins);
}

.form {
  width: 360px;
  border: 1px solid black;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*Para mejor vista*/
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.input {
  width: 300px;
  height: 50px;
  padding: 1em;
}

form p,
a {
  font-size: 15px;
}

form h2 {
  font-size: 24px;
}

.form__div {
  display: flex;
  flex-direction: column;
}

.form__p--obligatory-field {
  align-self: flex-start;
}
/* form__div--forgot-password */
.forgotPassword {
  align-self: flex-end;
}

.form__div--stay-connected {
  align-self: flex-start;
}

.button {
  width: 250px;
  height: 50px;
}

.button--register {
  background-color: #dbe4d5;
  border: 1px solid black;
}

.a--style-none {
  text-decoration: none;
}

.marginbtm {
  margin-bottom: 12px;
}
